<configuration>
  <appSettings>
    <!-- URL for server that supplies servers to puch data to -->
    <add key="serverpollurl" value="http://liveresultat.orientering.se/configs/getConnectionSettings.php"/>
    <!-- Key to get server connection data -->
    <add key="serverpollkey" value="liveemmaclient"/>
    
    <!-- Set to true to avoid uploading results to liveresultat-->
    <add key="runoffline" value="true"/>

    <!-- Set to true to update total results -->
    <add key="calculateTotals" value="true"/>
    <!-- Denna tävlings etapp nummer -->
    <add key="etappNr" value="2"/>
    <!-- Database for total calculation - host;user;pw;db -->
    <add key="totalServer" value="localhost;root;root;oeventtotal"/>

    <!-- OR, add server(s) manually. Format: host;user;pw;db -->
   <!-- <add key="emmaServer1" value="obasen.nu;liveresultat;web;liveresultat"/>
    <add key="emmaServer2" value="54.247.102.48;liveresultat;web;liveresultat"/>-->
    
  </appSettings>
</configuration>
