<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- URL for server that supplies servers to puch data to -->
    <add key="serverpollurl" value="http://liveresultat.orientering.se/configs/getConnectionSettings.php" />
    <!-- Key to get server connection data -->
    <add key="serverpollkey" value="liveemmaclient" />
    <!-- Set to true to avoid uploading results to liveresultat-->
    <add key="runoffline" value="false" />
    <!-- Set to true to update total results -->
    <add key="calculateTotals" value="true" />
    <!-- Database for total calculation -->
    <add key="totalDatabase" value="OeventTotal.db" />
    <!-- Don't calculate totals for certain classes -->
    <!-- <add key="totalIgnoreClasses" value="Insk;U1;U2;ÖM1;ÖM3;ÖM5;ÖM7" />  -->
    <!-- OR, add server(s) manually. Format: host;user;pw;db -->
    <!-- <add key="emmaServer1" value="obasen.nu;liveresultat;web;liveresultat"/>
    <add key="emmaServer2" value="54.247.102.48;liveresultat;web;liveresultat"/>-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>